.showcase .picture-gallery {
    margin-bottom: 3em;
    width: auto;
    min-width: auto;
}

#preloader {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    overflow: hidden;
}

#preloader .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #fff;
    font-size: 1em;
    text-align: center;
}

#preloader .inner span {
    display: block;
    -webkit-animation: fading infinite 1s linear;
    animation: fading infinite 1s linear;
}

#preloader img {
    height: 5vmin;
    margin-bottom: 1em;
}

.fadeIn {
    opacity: 1;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.fadeOut {
    opacity: 0;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    display: none;
}

.container-logo {
    height: 100%;
    padding: 1em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.filter-input-field {
    padding: 0 1rem;
    height: 4rem;
    font-size: 1.3rem;
    line-height: 4rem;
    background: #fafafb;
    border: 1px solid #d8dbdf;
    border-radius: 3px;
    width: 10rem;
}

.filter-label {
    font-weight: 700;
    color: #000;
    margin-left: 2rem;
    margin-right: 0.5rem;
}

.filterItem{
    
}

@media screen and (max-width: 1023px){
    .filterItem{
        
    }
}

.container-logo img {
    height: 30px;
    width: 122px;
}

.actions-bar {
    position: relative;
    padding: 1.5rem 2rem;
    background: #c3c8ce;
    display: flex;
    align-items: center;
    justify-content: center;
}

.actions-bar button {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0;
    padding: 15px 30px;
    font-weight: 500;
    font-size: 1.6rem;
    color: #fff;
    background: #e4002b;
    border: 0 none;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: 2.2rem;
}

@-webkit-keyframes fading {
    from {
        opacity: 1;
    }
    to {
        opacity: .5;
    }
}

@keyframes fading {
    from {
        opacity: 1;
    }
    to {
        opacity: .5;
    }
}